.header {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  /* opacity: 0.9; */
  z-index: 1;
  background-color: rgb(45 45 45 / 15%);
  backdrop-filter: blur(3px);
}
.form {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(254, 252, 252, 0.1);
  opacity: 0.85;
}

.input {
  width: 300px;
  height: 40px;
  border: 1px solid #f4ea84;
  color: #f4ea84;
  border-color: #454545;
  background-color: #454545;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.input::placeholder {
  color: #f4ea84;
  opacity: 0.7;
}

.input:hover,
.input:focus,
.input:active {
  border: 1px solid hsl(55, 73%, 81%);
  opacity: 1;
}
.form:hover,
.form:focus,
.form:active {
  /* box-shadow: 0 0 10px 0 rgba(254, 252, 252, 0.3); */
  opacity: 1;
}

.btn {
  width: 100px;
  height: 40px;
  background-color: #3f5df1;
  margin-left: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #1d42f8;
  opacity: 1;
}
